# Endpoint del Google Apps Script (Web App)
# Reemplazá con la URL que te da Google al publicar el Apps Script
VITE_GAS_ENDPOINT=https://script.google.com/macros/s/TU_SCRIPT_ID/exec
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADXh13oATcopJarH
VITE_API_SECRET=genera_una_clave_aleatoria_larga_aqui
